<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title Of Site -->
	<title>ecoJobs - A Job Portal for Fresher </title>
	<meta name="description" content="ecoRise Software Solutions, Pune ecoJobs Job Portal for IT Industry Jobs. Fresher and Experience Candidates and apply for job Openings." />
	<meta name="keywords" content="job, work, resume, applicants, application, employee, employer, hire, hiring, human resource management, hr, online job management, company, worker, career, recruiting, recruitment" />
	<meta name="author" content="ecoRise Software Solutions, Pune">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Fav and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="images/ico/favicon.png">

	<!-- CSS Plugins -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/component.css" rel="stylesheet">

	

	<!-- CSS Font Icons -->
	<link rel="stylesheet" href="icons/linearicons/style.css">
	<link rel="stylesheet" href="icons/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="icons/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="icons/ionicons/css/ionicons.css">
	<link rel="stylesheet" href="icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" href="icons/rivolicons/style.css">
	<link rel="stylesheet" href="icons/flaticon-line-icon-set/flaticon-line-icon-set.css">
	<link rel="stylesheet" href="icons/flaticon-streamline-outline/flaticon-streamline-outline.css">
	<link rel="stylesheet" href="icons/flaticon-thick-icons/flaticon-thick.css">
	<link rel="stylesheet" href="icons/flaticon-ventures/flaticon-ventures.css">
	<link rel="stylesheet" href="css/alertify.core.css" />
	<link rel="stylesheet" href="css/alertify.default.css" id="toggleCSS" />
	<!-- CSS Custom -->
	<link href="css/style.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<!-- <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script> -->
	<!-- AngularJS Scripts -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>

	<base href="/ecoJobs/">

</head>
<body class="home" ng-app="ecojobs" novalidate>
	<div id="introLoader" class="introLoading"></div>
	<!-- start Container Wrapper -->
	<div class="container-wrapper">
		<!-- start Header -->
	  <header id="header">
	    <!-- start Navbar (Header) -->
	    <nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function">
	      <div class="container">
	        <div class="logo-wrapper">
	          <div class="logo">
	            <a href="/"><img src="images/logo.png" alt="Logo" /></a>
	          </div>
	        </div>
	        <div id="navbar" class="navbar-nav-wrapper navbar-arrow">
	          <ul class="nav navbar-nav" id="responsive-menu">
	            <li>
	              <a href="home">Home</a>
	            </li>
	            <li>
	              <a href="job-result">Job</a>
	              <ul>
	                <li><a href="job-detail">Detail</a></li>
	                <li><a href="job-category">Category</a></li>
	                <li><a href="job-location">Location</a></li>
	                <li><a href="job-browse-job">Browse Job</a></li>
	              </ul>
	            </li>
	            <li>
	              <a href="employer">Employer</a>
	              <ul>
	                <li><a href="employer-detail">Employer Detail</a></li>
	              </ul>
	            </li>
	            <li><a href="about-us">About Us</a></li>
	            <li><a href="contact">Contact</a></li>
	            <li><a href="blog">Blog</a></li>
	            <li><a href="faq">Faq</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->

	        <div class="nav-mini-wrapper">
	          <ul class="nav-mini sign-in">
	            <li><a data-toggle="modal" href="account-login-page">login</a></li>
	            <li><a data-toggle="modal" href="account-login-page">register</a></li>
	          </ul>
	        </div>
	      </div>

	      <div id="slicknav-mobile"></div>

	    </nav>
	    <!-- end Navbar (Header) -->

	    <!-- start Forget Password Modal -->
	    <form name="forgotPasswordForm">
	    <div id="forgotPasswordModal" class="modal fade login-box-wrapper" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true" ng-controller="forgotPasswordCtrl">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title text-center">Restore your forgotten password</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row gap-20">
	          <div class="col-sm-12 col-md-12">
	            <p class="mb-20">Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to.</p>
	          </div>
	          <div class="col-sm-12 col-md-12">
	            <div class="form-group">
	              <label>Email Address</label>
	              <input class="form-control" placeholder="Enter your email address" name="forgotpasswordemail" type="email" ng-model="forgotpasswordemail" ng-pattern="eml_add" autocomplete="off" ng-required="true">
	              <span class="red-text" ng-if=" forgotPasswordForm. forgotpasswordemail.$error.required && forgotPasswordForm.forgotpasswordemail.$dirty">Email  required</span>
            	  <span class="red-text" ng-show=" forgotPasswordForm. forgotpasswordemail.$error.pattern">Enter Valid Email</span>
	            </div>
	          </div>
	          <div class="col-sm-12 col-md-12">
	            <div class="checkbox-block">
	              <input id="forgot_password_checkbox" name="forgot_password_checkbox" class="checkbox" value="First Choice" type="checkbox" ng-model="generateNewPassword">
	              <label class="" for="forgot_password_checkbox">Generate new password</label>
	            </div>
	          </div>
	          <div class="col-sm-12 col-md-12">
	            <div class="login-box-box-action">
	              Return to <a data-toggle="modal" href="account-login-page">Log-in</a>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="modal-footer text-center">
	        <button type="button" class="btn btn-primary" ng-click="passwordRestore()">Restore</button>
	        <button type="button" data-dismiss="modal" class="btn btn-primary btn-inverse">Close</button>
	      </div>
	    </div>
	    </form>
	    <!-- end Forget Password Modal -->
	  </header>

		<ng-view></ng-view>


		<footer class="footer-wrapper">

      <div class="main-footer">

        <div class="container">

          <div class="row">

            <div class="col-sm-12 col-md-9">

              <div class="row">

                <div class="col-sm-6 col-md-4">

                  <div class="footer-about-us">
                    <h5 class="footer-title">about HaNgan</h5>
                    <p>Sudden looked elinor off gay estate nor silent. Son read such next see the rest two. Was use extent old entire sussex...</p>
                    <a href="about-us">read more</a>
                  </div>

                </div>

                <div class="col-sm-6 col-md-5 mt-30-xs">
                  <h5 class="footer-title">quick links</h5>
                  <ul class="footer-menu clearfix">
                    <li><a href="#">Local Jobs</a></li>
                    <li><a href="#">Company Directory</a></li>
                    <li><a href="#">Browse Jobs</a></li>
                    <li><a href="#">Salary Estimator</a></li>
                    <li><a href="#">Success Stories</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Post a Job</a></li>
                    <li><a href="#">Employer Login</a></li>
                    <li><a href="#">Publisher</a></li>
                    <li><a href="#">Include My Jobs</a></li>
                  </ul>

                </div>

              </div>

            </div>

            <div class="col-sm-12 col-md-3 mt-30-sm">

              <h5 class="footer-title">newsletter</h5>

              <p>Subsribe to get our latest updates and oeffers</p>

              <div class="footer-newsletter">

                <div class="form-group">
                  <input class="form-control" placeholder="enter your email " />
                  <button class="btn btn-primary">subsribe</button>
                </div>

                <p class="font-italic font13">*** Don't worry, we wont spam you!</p>

              </div>

            </div>


          </div>

        </div>

      </div>

      <div class="bottom-footer">

        <div class="container">

          <div class="row">

            <div class="col-sm-4 col-md-4">

              <p class="copy-right">&#169; Copyright 2016 HaNgan</p>

            </div>

            <div class="col-sm-4 col-md-4">

              <ul class="bottom-footer-menu">
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Policies</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Blogs</a></li>
              </ul>

            </div>

            <div class="col-sm-4 col-md-4">
              <ul class="bottom-footer-menu for-social">
                <li><a href="#"><i class="ri ri-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a></li>
                <li><a href="#"><i class="ri ri-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a></li>
                <li><a href="#"><i class="ri ri-google-plus" data-toggle="tooltip" data-placement="top" title="google plus"></i></a></li>
                <li><a href="#"><i class="ri ri-youtube-play" data-toggle="tooltip" data-placement="top" title="youtube"></i></a></li>
              </ul>
            </div>

          </div>

        </div>

      </div>

    </footer>
	</div>
	<!-- end Container Wrapper -->


<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->


<!-- JS -->
<!-- <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script> -->

<!-- <script type="text/javascript" src="js/jquery.easing.1.3.js"></script> -->
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/jquery-filestyle.min.js"></script>
<script type="text/javascript" src="js/jquery.countimator.js"></script>
<script type="text/javascript" src="js/jquery.countimator.wheel.js"></script>
<script type="text/javascript" src="js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="js/jquery.responsivegrid.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="js/bootstrap-modal.js"></script>
<script type="text/javascript" src="js/smoothscroll.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/bootstrap-tokenfield.js"></script>
<script type="text/javascript" src="js/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="js/bootstrap3-wysihtml5.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.js"></script>
<script type="text/javascript" src="js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="js/handlebars.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/easy-ticker.js"></script>
<script type="text/javascript" src="js/customs.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js" ></script>

<!-- <script type="text/javascript" src="js/custom-CK-editor.js"></script> -->
<!-- start contact.html script -->
<script src="js/validator.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/infobox.js"></script>
<!-- end contact.html script -->

<!-- start employee-create-resume.html -->
<script type="text/javascript" src="js/fileinput.min.js"></script>
<script type="text/javascript" src="js/customs-fileinput.js"></script>

<script type="text/javascript" src="js/jquery.sheepItPlugin.js"></script>
<script type="text/javascript" src="js/customs-sheepItPlugin.js"></script>
<!-- end employee-create-resume.html -->
<!-- alertify js file -->

<script src="js/alertify.min.js"></script>
</body>
</html>