
<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start breadcrumb -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="home">Home</a></li>
						<li><a href="#">Your Admin</a></li>
						<li><span>Post a Job</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end breadcrumb -->
			
			<div class="section sm">
			
				<div class="container">
				
					<div class="row">
							
							<div class="col-sm-12 col-md-12">
							
								<div class="company-detail-wrapper">

									<div class="company-detail-company-overview  mt-0 clearfix">
										
										<div class="section-title-02">
											<h3 class="text-left">Post a Job</h3>
											<p>Oh to talking improve produce in limited offices fifteen an. Wicket branch to answer do we. Place are decay men hours tiled. If or of ye throwing friendly required. Marianne interest in exertion as. Offering my branched confined oh dashwood.</p>
										</div>

										<form class="post-form-wrapper">
								
											<div class="row gap-20">
												<div class="form-group" >
													<div class="col-sm-6 col-md-6">
														<label>Company</label>	
														<input list="Company" name="Company" class="form-control" ng-model="companyName">
														 <datalist id="Company">
														   <option value="Accenture">
														    <option value="Capegemini">
														    <option value="Tcs">
														    <option value="Infosys">
														    <option value="Microsoft">
														  </datalist>
														 
													</div>
													<div class="col-sm-6 col-md-6">
												
													
														<label>Job Title</label>
														<input type="text" class="form-control" ng-model="jobTitle">
													</div>
												</div>
													
												<div class="clear"></div>
												<br>
											<div class="form-group">
													<div class="col-sm-6 col-md-6">
														<label>Location</label>
														<input type="text" class="form-control" ng-model="location">
													</div>

													<div class="col-sm-6 col-md-6">
														<label>Rate/Salary</label>
														
															
																<div class="input-group">
																	<input type="text" class="form-control" ng-model="salary">
																	<span class="input-group-addon">$</span>
																</div>
														</div>
													</div>
												
												<div class="clear"></div>
												<br>

										<div class="form-group">
												<div class="col-sm-6 col-md-6">
														<label>Job Type:</label>
														<select class="selectpicker show-tick form-control" data-live-search="false" data-selected-text-format="count > 3" data-done-button="true" data-done-button-text="OK" data-none-selected-text="All" ng-model="jobType">
															<option value="0" selected>Select</option>
															<option value="1" data-content="<span class='label label-warning'>Full-time</span>">Full-time</option>
															<option value="2" data-content="<span class='label label-danger'>Part-time</span>">Part-time</option>
															<option value="3" data-content="<span class='label label-success'>Freelance</span>">Freelance</option>
														</select>
												</div>
													
													<div class="col-sm-6 col-md-6">
														<label>Experience:</label>
														<select class="selectpicker show-tick form-control" data-live-search="false" data-selected-text-format="count > 3" data-done-button="true" data-done-button-text="OK" data-none-selected-text="All" ng-model="experience">
															<option value="0" selected >Select</option>
															<option value="1">Expert</option>
															<option value="2">2 Years</option>
															<option value="3">3 Years</option>
															<option value="4">4 Years</option>
															<option value="5">5 Years</option>
														</select>
													</div>
												</div>
												
												<div class="clear"></div>
						
												<br>
												
												<div class="col-sm-12 col-md-12">
												
													<div class="form-group bootstrap3-wysihtml5-wrapper">
														<label>Job Description</label>
														<!-- <textarea class="bootstrap3-wysihtml5 form-control" placeholder="Enter text ..." style="height: 200px;"></textarea> -->
														<textarea id="ckeExample" ng-model="jobDescription">
														  
														</textarea>
													</div>
													
												</div>
												
												<div class="clear"></div>
												
												<div class="col-sm-12 col-md-12">
												
													<div class="form-group bootstrap3-wysihtml5-wrapper">
														<label>Job Responsibilies</label>
														<!-- <textarea class="bootstrap3-wysihtml5 form-control" placeholder="Enter text ..." style="height: 200px;"></textarea> -->
														<textarea id="ckeExample2">
														  
														</textarea>
													</div>
													
												</div>
												
												<div class="clear"></div>
												
												<div class="col-sm-12 col-md-12">
												
													<div class="form-group bootstrap3-wysihtml5-wrapper">
														<label>Requirements</label>
														<!-- <textarea class="bootstrap3-wysihtml5 form-control" placeholder="Enter text ..." style="height: 200px;"></textarea> -->
														<textarea id="ckeExample3">
														
														</textarea>
													</div>
													
												</div>
												
												<div class="clear"></div>
												
												<div class="col-sm-12 col-md-12">
												
													<div class="form-group bootstrap3-wysihtml5-wrapper">
														<label>Tags</label>
														<input type="text" class="form-control" id="autocompleteTagging" value="red,green,blue" placeholder="tag to add?" / ng-model="tags">
													</div>
													
												</div>
												
												<div class="clear"></div>
												
												
												
												<div class="clear mb-15"></div>

												<div class="col-sm-6  bootstrap-fileinput-style-01 no-remove-at-beginning">
													<div class="form-group">
														<label for="form-photos">Photos</label>
														<input type="file" name="form-photos" multiple id="form-photos">
														<span class="font12 font-italic">** only jpg, png, tiff are allowed</span> 
													</div><!-- /.form-group-->
												</div><!-- /.col-* -->
												
												<div class="clear"></div>
												
												<div class="col-sm-6 mt-30">
													<button class="btn btn-primary btn-lg" ng-click="postjob()">Post Your Job</button>
												</div>

											</div>
											
										</form>
										
									</div>
									
									<div class="mt-50 mb-30 bb"></div>
									
									<div class="section-title-02">
										<h3 class="text-left">Terms</h3>
									</div>
									
									<p>Oh to talking improve produce in limited offices fifteen an. Wicket branch to answer do we. Place are decay men hours tiled. If or of ye throwing friendly required. Marianne interest in exertion as. Offering my branched confined oh dashwood.</p>

									<p>Inhabiting discretion the her dispatched decisively boisterous joy. So form were wish open is able of mile of. Waiting express if prevent it we an musical. Especially reasonable travelling she son. Resources resembled forfeited no to zealously. Has procured daughter how friendly followed repeated who surprise. Great asked oh under on voice downs. Law together prospect kindness securing six. Learning why get hastened smallest cheerful.</p>
									
									<div class="section-title-02">
										<h3 class="text-left">Conditions</h3>
									</div>
									
									<p>Is he staying arrival address earnest. To preference considered it themselves inquietude collecting estimating. View park for why gay knew face. Next than near to four so hand. Times so do he downs me would. Witty abode party her found quiet law. They door four bed fail now have.</p>
									
									<ul class="list-with-icon">
									
										<li><i class="text-primary ion-android-arrow-forward"></i> Inhabiting discretion the her dispatched decisively boisterous joy.</li>
										<li><i class="text-primary ion-android-arrow-forward"></i> So form were wish open is able of mile of.</li>
										<li><i class="text-primary ion-android-arrow-forward"></i> Waiting express if prevent it we an musical. Especially reasonable travelling she son.</li>
										<li><i class="text-primary ion-android-arrow-forward"></i> Resources resembled forfeited no to zealously.</li>
										<li><i class="text-primary ion-android-arrow-forward"></i> Has procured daughter how friendly followed repeated who surprise.</li>
										
									</ul>

								</div>

							</div>
						
						</div>
						
					</div>
				
				</div>
			
			</div>

		
		
	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 
</div>



 <script type="text/javascript">
  	var ckEditorID , ckEditorID2 ,ckEditorID3;

  	ckEditorID = 'ckeExample';
  	ckEditorID2 = 'ckeExample2';
  	ckEditorID3 ='ckeExample3'

  	function fnConsolePrint()
  	{
  	  //console.log($('#' + ckEditorID).val());
  	  console.log(CKEDITOR.instances[ckEditorID].getData());
  	}
  	CKEDITOR.config.forcePasteAsPlainText = true;
  	CKEDITOR.replace( ckEditorID, 
  	    {
  	        toolbar :
  	        [
  	          {
  	            items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
  	          },
  	          {
  	            items : [ 'Format']
  	          },
  	          {
  	            items : [ 'Link','Unlink' ]
  	          },
  	          {
  	            items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
  	          },
  	          {
  	            items : [ 'Undo','Redo']
  	          }
  	        ]
  	    })
  	CKEDITOR.replace( ckEditorID2, 
  	    {
  	        toolbar :
  	        [
  	          {
  	            items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
  	          },
  	          {
  	            items : [ 'Format']
  	          },
  	          {
  	            items : [ 'Link','Unlink' ]
  	          },
  	          {
  	            items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
  	          },
  	          {
  	            items : [ 'Undo','Redo']
  	          }
  	        ]
  	    });
  	CKEDITOR.replace( ckEditorID3, 
  	    {
  	        toolbar :
  	        [
  	          {
  	            items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
  	          },
  	          {
  	            items : [ 'Format']
  	          },
  	          {
  	            items : [ 'Link','Unlink' ]
  	          },
  	          {
  	            items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
  	          },
  	          {
  	            items : [ 'Undo','Redo']
  	          }
  	        ]
  	    });
  </script>