
<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list">
						<li><a href="home">Home</a></li>
						<li><span>Register</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->

			<div class="login-container-wrapper">	
	
				<div class="container">
				
					<div class="row" ng-controller="homeCtrl">
					
						<div class="col-md-5 col-sm-12 col-md-offset-0">
						
							<div class="row">

								<form name="loginfrmnm">

									<div id="loginModal" class="login-box-wrapper" >
								      
								      <div class="modal-header">
								        <h4 class="modal-title text-center">Sign-in into your account</h4>
								      </div>

								      <div class="modal-body">
								        <div class="row gap-20">
								          <div class="col-sm-6 col-md-6">
								            <button class="btn btn-facebook btn-block mb-5-xs">Log-in with Facebook</button>
								          </div>
								          <div class="col-sm-6 col-md-6">
								            <button class="btn btn-google-plus btn-block">Log-in with Google+</button>
								      	  </div>
								          <div class="col-md-12">
								            <div class="login-modal-or">
								              <div><span>or</span></div>
								            </div>
								          </div>
								      
								          <div class="col-sm-12 col-md-12">
								            <div class="form-group">
								              <label>Email </label>
								              <input class="form-control" placeholder="Enter Your Email" type="email" ng-model="usernamelogin" name="lgnname" data-error="Your name is required" autocomplete="off" ng-required="true" ng-pattern="lgnpattern">
								              <span class="red-text" ng-if="loginfrmnm.lgnname.$error.required loginfrmnm.lgnname.$dirty">Email Required</span>
							            	  <span class="red-text" ng-show=" loginfrmnm.lgnname.$error.pattern">Enter valid Email</span>
								              <div class="help-block with-errors"></div>
								            </div>
								          </div>

								          <div class="col-sm-12 col-md-12">
								            <div class="form-group">
								              <label>Password</label>
								              <input class="form-control" placeholder="Enter password" type="password" ng-model="passwordlogin">
								            </div>
								          </div>

								          <div class="col-sm-6 col-md-6">
								            <div class="checkbox-block">
								              <input id="remember_me_checkbox" name="remember_me_checkbox" class="checkbox" type="checkbox" ng-model="rememberme">
								              <label class="" for="remember_me_checkbox">Remember me</label>
								            </div>
								          </div>
								          <div class="col-sm-6 col-md-6">
								            <div class="login-box-link-action">
								              <a data-toggle="modal" href="#forgotPasswordModal">Forgot password?</a>
								            </div>
								          </div>
								        </div>
								      </div>
								      <div class="modal-footer text-center">
								        <button type="button" class="btn btn-primary" ng-click="userLogin()">Log-in</button>
								      </div>

								    </div>  
								</form>
							</div>

						</div>

						<div class="col-md-6 col-sm-12 col-md-offset-1">
						
							<div class="row registerform">

	    						<form name="registerForm">

									<div id="registerModal" class="login-box-wrapper">
								      
								      <div class="modal-header">
								        <h4 class="modal-title text-center">Create your account for free</h4>
								      </div>

								      <div class="modal-body">
								        <div class="row gap-20">
								          <div class="col-sm-6 col-md-6">
								            <button class="btn btn-facebook btn-block mb-5-xs">Register with Facebook</button>
								          </div>
								          <div class="col-sm-6 col-md-6">
								            <button class="btn btn-google-plus btn-block">Register with Google+</button>
								          </div>
								          <div class="col-md-12">
								            <div class="login-modal-or">
								              <div><span>or</span></div>
								            </div>
								          </div>
								      
								          <div class="col-sm-6 col-md-6">
								            <div class="form-group">
								              <label>First Name</label>
								              <input class="form-control" placeholder="Enter First Name" type="text" ng-model="regUser" data-error="Your name is required" required>
								              <div class="help-block with-errors"></div>
								            </div>
								          </div>
								          <div class="col-sm-6 col-md-6">
								            <div class="form-group">
								              <label>Last Name</label>
								              <input class="form-control" placeholder="Enter Last Name" type="text" ng-model="regUserLast" data-error="Your name is required" required>
								              <div class="help-block with-errors"></div>
								            </div>
								           </div> 

								          <div class="col-sm-12 col-md-12">
								            <div class="form-group">
								              <label>Contact Number</label>
								              <input class="form-control" placeholder="Enter Contact" type="number" name="cnt" ng-model="regContact" data-maxlength="10" ng-pattern="/^[7-9][0-9]{9}$/" data-error="Enter 10 Digit" required="true">
								               <span class="red-text" ng-if="registerForm.cnt.$error.required registerForm.cnt.$dirty">mob no required field</span>
								               <span class="red-text" ng-show=" registerForm.cnt.$error.pattern">Invalid contact</span>
								            </div>
								          </div>

								          <div class="col-sm-12 col-md-12">
								            <div class="form-group">
								              <label>Email </label>
								              <input class="form-control" placeholder="Enter your email address" name="regemail" ng-pattern="emlvalid" type="email" autocomplete="off" ng-model="regEmail" ng-required="true"> 
								              <span class="red-text" ng-if="registerForm.regemail.$error.required registerForm.regemail.$dirty">Email Required</span>
							            
							            	  <span class="red-text" ng-show=" registerForm.regemail.$error.pattern">Enter valid Email</span>

								            </div>
								          </div>
								          <div class="col-sm-12 col-md-12">
								          
								            <div class="form-group">
								              <label>Password</label>
								              <input class="form-control" placeholder="Enter Password" type="password" name="regpass" ng-model="regPassword" data-minlength="6" data-maxlength="16" ng-change="passwordChanged()" ng-pattern="/^.*(?=.{7,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/" data-error="Invalid password" required="true">
								              <span class="red-text" ng-if="registerForm.regpass.$error.required registerForm.regpass.$dirty">Password required field</span>
								               <span class="red-text" ng-show=" registerForm.regpass.$error.pattern">Use 6 or more characters with a mix of capital, small letters & numbers</span>
								            </div>
								            </div>

								          <div class="col-sm-12 col-md-12">
								            <div class="form-group">
								              <label>Confirm Password </label>
								              <input class="form-control" placeholder="Re-type password again" type="password" name="regpassconf" ng-model="regConfirmpass" ng-keyup="checkpass()">
								              <p style="color: red; font-size: 12px;">{{errormsg}}</p>
								            </div>
								          </div>
									
								          <div class="col-sm-12 col-md-12">
								            <div class="checkbox-block">
								              <input id="register_accept_checkbox" name="register_accept_checkbox" class="checkbox" type="checkbox" ng-model="Regacceptcheckbox" >
								              <label class="" for="register_accept_checkbox">By register, I read &amp; accept <a href="#">the terms</a></label>
								            </div>
								          </div>
								        </div>
								      </div>

								      <div class="modal-footer text-center">
								        <button type="button" class="btn btn-primary" ng-click="userReg()">Register</button>
								      </div>

								    </div>  

								</form>							
						
							</div>

						</div>

					</div>	

				</div>
			
			</div>		
			
		</div>
		<!-- end Main Wrapper -->
	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
</div>