


<div  class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		
		
		<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list">
						<li><a href="index.html">Home</a></li>
						<li><span>Login</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->

			<div class="login-container-wrapper">	
	
				<div class="container">
				
					<div class="row">
					
						<div class="col-md-10 col-md-offset-1">
						
							<div class="row">

								<div class="col-sm-6 col-sm-offset-3">
								
									<div class="login-box-wrapper">
							
										<div class="modal-header">
											<h4 class="modal-title text-center">Sign-in into your account</h4>
										</div>
										
										<div class="modal-body">
											<div class="row gap-20">
											
												<div class="col-md-12 mb-5">
													<button class="btn btn-facebook btn-block">Log-in with Facebook</button>
												</div>
												<div class="col-md-12">
													<button class="btn btn-google-plus btn-block">Log-in with Google+</button>
												</div>
												
												<div class="col-md-12">
													<div class="login-modal-or">
														<div><span>or</span></div>
													</div>
												</div>
												
												<div class="col-sm-12 col-md-12">
										
													<div class="form-group"> 
														<label>Username</label>
														<input class="form-control" placeholder="Min 4 and Max 10 characters" type="text" > 
													</div>
												
												</div>
												
												<div class="col-sm-12 col-md-12">
												
													<div class="form-group"> 
														<label>Password</label>
														<input class="form-control" placeholder="Min 4 and Max 10 characters" type="text" > 
													</div>
												
												</div>
												
												<div class="col-sm-6 col-md-6">
													<div class="checkbox-block"> 
														<input id="remember_me_checkbox" name="remember_me_checkbox" class="checkbox" value="First Choice" type="checkbox"> 
														<label class="" for="remember_me_checkbox">Remember me</label>
													</div>
												</div>
												
												<div class="col-sm-6 col-md-6">
													<div class="login-box-link-action">
														<a href="account-forgot-password-page.html">Forgot password?</a> 
													</div>
												</div>
												
												<div class="col-sm-12 col-md-12">
													<div class="login-box-box-action">
														No account? <a href="account-register-page.html">Register</a>
													</div>
												</div>
												
											</div>
										</div>
										
										<div class="modal-footer text-center">
											<button type="button" class="btn btn-primary" >Log-in</button>
										</div>
										
									</div>

									
								</div>
							
							</div>
							
						</div>
						
					</div>
					
				</div>
			
			</div>

			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 


</div>



