<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">
		
		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start breadcrumb -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="#">All Employers</a></li>
						<li><span>Change Password</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end breadcrumb -->
			
			<div class="admin-container-wrapper">

				<div class="container">
				
					<div class="GridLex-gap-15-wrappper">
					
						<div class="GridLex-grid-noGutter-equalHeight">
						
							<div class="GridLex-col-3_sm-4_xs-12">
							
								<div class="admin-sidebar">
										
									<div class="admin-user-item">
										
										<div class="image">
											<img src="images/man/01.jpg" alt="image" class="img-circle" />
										</div>
										
										<h4>Christine Gateau</h4>
										<p class="user-role">Professional</p>
										
									</div>
								
									<ul class="admin-user-menu clearfix">
										<li>
											<a href="admin-profile"><i class="fa fa-user"></i> Profile</a>
										</li>
										<li class="active">
											<a href="#"><i class="fa fa-key"></i> Change Password</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-bell"></i> My Alert</a>
										</li>
										<li>
											<a href="admin-saved-job"><i class="fa fa-bookmark"></i> Saved Jobs</a>
										</li>
										<li>
											<a href="account-login-page"><i class="fa fa-sign-out"></i> Logout</a>
										</li>
									</ul>
									
								</div>

							</div>
							
							<div class="GridLex-col-9_sm-8_xs-12">
							
								<div class="admin-content-wrapper">

									<div class="admin-section-title">
									
										<h2>Change Password</h2>
										<p>Enquire explain another he in brandon enjoyed be service.</p>
										
									</div>
									
									<form class="post-form-wrapper" ng-controller="adminchngpass" name="adminformnm">
								
											<div class="row gap-20">

												<div class="col-sm-6 col-md-4">
												
													<div class="form-group">
														<label>Current Password</label>
														<input type="password" placeholder="Enter Current Password" class="form-control" value="" ng-model="currpass">
													</div>
													
												</div>
												
												<div class="clear"></div>
												
												<div class="col-sm-6 col-md-4">
												
													<div class="form-group">
														<label>New Password</label>
														<input type="password" placeholder="Enter New Password" name="anminnewpass" class="form-control" ng-model="adminnwpass" data-minlength="6" data-maxlength="16" ng-pattern="/^.*(?=.{7,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/" data-error="Invalid password" required="true">
														<span class="red-text" ng-if="adminformnm.anminnewpass.$error.required adminformnm.anminnewpass.$dirty">Password required field</span>
	               										<span class="red-text" ng-show=" adminformnm.anminnewpass.$error.pattern">Invalid Password</span>
														</div>
													
												</div>
												
												<div class="clear"></div>
												
												<div class="col-sm-6 col-md-4">
												
													<div class="form-group">
														<label>Confirm Password</label>
														<input type="password" placeholder="Re-enter New Password" class="form-control" ng-keyup="admincheckpass()" ng-model="admincnfpas">
														<span style="color:red;">{{errormsg}}</span>
													</div>
													
												</div>
												
												<div class="col-sm-12 mt-10">
													<button class="btn btn-primary" ng-click="saveAdminPass()">Save</button>

													<button class="btn btn-primary btn-inverse">Cancel</button>
												</div>

											</div>
											
										</form>
									
								</div>

							</div>
							
						</div>

					</div>

				</div>
			
			</div>
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
</div>
