<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start breadcrumb -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="#">All Employers</a></li>
						<li><span>Expedia</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end breadcrumb -->
			
			<div class="admin-container-wrapper">

				<div class="container">
				
					<div class="GridLex-gap-15-wrappper">
					
						<div class="GridLex-grid-noGutter-equalHeight">
						
							<div class="GridLex-col-3_sm-4_xs-12">
							
								<div class="admin-sidebar">
										
									<div class="admin-user-item">
										
										<div class="image">
											<img src="images/man/01.jpg" alt="image" class="img-circle" />
										</div>
										
										<h4>Christine Gateau</h4>
										<p class="user-role">Professional</p>
										
									</div>
									
									<div class="admin-user-action text-center">
									
										<a href="#" class="btn btn-primary btn-sm">Post Job</a>
										<a href="#" class="btn btn-primary btn-sm btn-inverse">Create Resume</a>
										
									</div>
									
									<ul class="admin-user-menu clearfix">
										<li>
											<a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-user"></i> Profile</a>
										</li>
										<li class="active">
											<a href="#"><i class="fa fa-key"></i> Change Password</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-bell"></i> My Alert</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-bookmark"></i> Saved Jobs</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pencil"></i> Resume Lists</a>
										</li>
										<li>
											<a href="#"><i class="fa fa-sign-out"></i> Logout</a>
										</li>
									</ul>
									
								</div>

							</div>
							
							<div class="GridLex-col-9_sm-8_xs-12">
							
								<div class="admin-content-wrapper">

									<div class="admin-section-title">
									
										<h2>Hello Gateau!</h2>
										<p>Your last loged-in: <span class="text-primary">11:42:21 am - March 15, 2016</span></p>
										
									</div>
									
									<p>Supplied directly pleasant we ignorant ecstatic of jointure so if. These spoke house of we. Ask put yet excuse person see change. Do inhabiting no stimulated unpleasing of admiration he. Enquire explain another he in brandon enjoyed be service. Given mrs she first china. Table party no or trees an while it since. On oh celebrated at be announcing dissimilar insipidity. Ham marked engage oppose cousin ask add yet.</p>
									
								</div>

							</div>
							
						</div>

					</div>

				</div>
			
			</div>
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
  
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->
</div>
