<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="home">Home</a></li>
						<li><a href="blog">Blog</a></li>
						<li><span>Blog Single</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->
			
			<div class="section sm">
			
				<div class="container" ng-controller="blogSingleCtrl">
					
					<div class="row" ng-repeat="x in blogSinglejson">
						<div class="col-sm-8 col-md-9">
						
							<div class="blog-wrapper">

								<div class="blog-item blog-single">
								
									<div class="blog-media">
										<!-- <img src="images/blog/blog-01.jpg" alt="" /> -->
										<img src="{{x.blogTitleimage}}">
									</div>
											
									<div class="blog-content">
										<h3>{{x.blogTitle}}</h3>
										<ul class="blog-meta clearfix">
											<li>by <a href="#">{{x.author}}</a></li>
											<li>{{x.date}}</li>
											<li>in <a href="#">Adventure</a>, <a href="#">Backpack</a></li>
											<li>32 comments</li>
										</ul>
										<div class="blog-entry">  
											
											<p>{{x.jobDesc}}</p>
									
											<div class="blockquote">{{x.quotes}}</div>
										</div>
									</div>
								
									<div class="blog-extra">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-7 xs-mb">
											</div>
											
											<div class="col-xs-12 col-sm-12 col-md-12 xs-mb">
												<ul class="social-share-sm mt-3 ">				
													<li><span><a href="https://720kb.github.io/angular-socialshare/"><i class="fa fa-share-square"> &nbsp</i>share</span></a></li>
													<li class="the-label"><a href="https://www.facebook.com/dialog/share?&app_id=145634995501895&href=https%3A%2F%2Fwww.training.ecorise.in%2F&quote=ecoRise%20Internship%20Training%20Program%202018"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
													<li class="the-label"><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fin.linkedin.com%2Fcompany%2Fecorise-software-solutions&title=ecoRise%20Internship%20Training%20Program%202018"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
													<li class="the-label"><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
													
												</ul>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									
									<div class="clear mb-50"></div>
									
									
									
									
									
									<!-- <h3 class="uppercase">{{x.commentCount}} comments</h3>
									
									<div id="comment-wrapper">
									
										<ul class="comment-item">
											<li>
												<div class="comment-avatar">
													<img src="{{x.commentImage}}" alt="author image" />
												</div>
												<div class="comment-header">
													<a href="#" class="comment-reply">reply</a>
													<h6 class="heading mt-0">{{x.comentsName}}</h6>
													<span class="comment-time">{{x.commentimestamp}}</span>
												</div>
												<div class="comment-content">
													<p>{{x.commentsDesc}}</p>
												</div>
											</li>
										</ul>
										
										<div class="clear"></div>
										
										<div class="text-center">
											<a href="#" class="btn btn-primary">Load More</a>
										</div>
									</div>
									
									<div class="clear mb-30"></div> -->
									
									
									<div class="clear"></div>
									
								</div>
								
							</div>
							
						</div>
						<div class="col-sm-4 col-md-3 mt-50-xs">
						
							<aside class="sidebar">
						
								<div class="sidebar-inner no-border for-blog">
								
									<div class="sidebar-module">
										<div class="sidebar-module-inner">
											<div class="sidebar-mini-search">
												<div class="input-group">
													<input type="text" class="form-control" placeholder="Search for..." ng-model="blogSearcBbox" >
													<span class="input-group-btn">
														<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
													</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="clear"></div>

									<div class="sidebar-module">
										<h4 class="sidebar-title">Similar Blogs</h4>
										<div class="sidebar-module-inner">
											<ul class="sidebar-category" >
												<li ng-repeat="y in blogSinglejson | filter:blogSearcBbox"><a ng-click="sndDate(y.similarjob.blogDate)" >{{y.similarjob.blogName}}<span>({{y.similarjob.blogndCount}})</span></a></li>
											</ul>
										</div>
									</div>
									
									<div class="clear"></div>
									
								</div>
							
							</aside>
							
						</div>	
					</div>

					<!-- <div class="row">
						<div class="col-md-9 col-sm-8">
							<h3 class="uppercase">Leave a Comment</h3>

										<form method="post" id="contactForm" class="comment-form">
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<label for="comment-name">Your Name <span class="text-danger">*</span></label>
														<input type="text" class="form-control" id="comment-name" ng-model="nameComment">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<label for="comment-email">Your Email <span class="text-danger">*</span></label>
														<input type="text" class="form-control" id="comment-email" ng-model="emailComment" >
													</div>
												</div>
											</div>
											<div class="clear"></div>
											<div class="row">
												<div class="col-md-12 mb-15">
													<div class="form-group">
														<label for="comment-message">Message <span class="text-danger">*</span></label>
														<textarea name="message" id="comment-message" class="form-control" rows="8" ng-model="commentMsg"></textarea>
													</div>
												</div>
											</div>

										</form>

							
										<div class="row">
											<div class="col-md-12">
												<button type="submit" class="btn btn-primary" ng-model="commentbtn" ng-click="sendcommentData()">Comment</button>
											</div>
										</div>
						</div>
					</div>						
 -->

				</div>
				</div>
			
			</div>
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
</div>