<div class="not-transparent-header" ng-controller="blogcntrl">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="home">Home</a></li>
						<li><span>Blog</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header --><br>
			<div class="container">
		 	<div class="sorting-content">

							<div class="row">

								<div class="col-sm-12 col-md-7 ">

									<div class="row gap-10">

										<div class="col-sm-4">
											<div class="form-group">
												<label>Sort by:</label>
											   <select class="selectpicker form-control" ng-model="typemodel">
											   	 <option value="">Type</option>
											   	<option ng-repeat="x in typeArrays" value="{{x}}">{{x}}</option>
											   </select>
											
											</div>
										</div>

										<div class="col-sm-4">
											<div class="form-group">
												<label>Stream</label>
    
												<select class="selectpicker form-control" ng-model="qualimodel" >
                                                    <option value="">By qualification</option>
                                                    <option ng-repeat=" y in qualiArrays | filter:qualimodel" value="{{y}}">{{y}}</option>

                                                     </select>
											</div>
										</div>
                                        

										<div class="col-sm-4">
											<div class="form-group">
												<label>GK</label>
								
												 <select class="selectpicker form-control" ng-model="gkmodel">
                                                  <option  value="">Type</option>
                                                  <option ng-repeat="o3 in gkArrays | filter:gkmodel" value="{{o3}}">{{o3}}</option>
       
                                                    </select>
											
											</div>
										</div>
										
									</div>

								</div>

								

							</div>

							

						</div>
					</div>
			<div class="section sm">
			
				<div class="container">
					
					<div class="row">
					
						<div class="col-sm-8 col-md-9">
						
							<div class="blog-wrapper">

								<div class="blog-item" ng-repeat="blog in data | filter:{inbook:typemodel,typeofquali:qualimodel,other:gkmodel}">
								
									<div class="blog-media">
										<div class="overlay-box">
											<a class="blog-image" href="blog-single">
												<img ng-src="images/blog/{{blog.imgsrc}}" alt="" />
												<div class="image-overlay">
													<div class="overlay-content">
														<div class="overlay-icon"><i class="pe-7s-link"></i></div>
													</div>
												</div>
											</a>
										</div>
									</div>
											
									<div class="blog-content">
										<h3><a href="blog-single" class="inverse">{{blog.title}}</a></h3>
										<ul class="blog-meta">
											<li>by <a href="#">{{blog.bysend}}</a></li>
											<li>by {{blog.bydate}}</li>
											<li>in <a href="#">{{blog.inbook}}</a>, <a href="#">{{blog.typeofquali}}</a></li>
											<li>{{blog.other}}</li>
										</ul>
										<div class="blog-entry">{{blog.details}}  
											
										</div>
										<a href="blog-single" ng-click="senddata(blog.bydate)">Read More<i class="fa fa-long-arrow-right"></i> </a>
									</div>
								
								</div>
								
								
								
								<div class="blog-item">
								
									<div class="blog-media">
										<div id="bootstrap-carousel-slider" class="carousel slide" data-ride="carousel" data-interval="5000">

											<!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
											
												
											</div><!-- /.carousel-inner -->

											<!-- Controls -->
											<a class="left carousel-control" href="#bootstrap-carousel-slider" role="button" data-slide="prev">
												<span class="carousel-control-left"><i class="pe-7s-angle-left" aria-hidden="true"></i></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="right carousel-control" href="#bootstrap-carousel-slider" role="button" data-slide="next">
												<span class="carousel-control-right"><i class="pe-7s-angle-right" aria-hidden="true"></i></span>
												<span class="sr-only">Next</span>
											</a>
										</div><!-- /.carousel -->

									</div>
											
									
								</div>
									<div class="pager-wrapper mmt">
								
									<nav class="pager-right">
										<ul class="pagination">
											<li>job
												<a href="#" aria-label="Previous">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><span>...</span></li>
											<li><a href="#">11</a></li>
											<li><a href="#">12</a></li>
											<li><a href="#">13</a></li>
											<li>
												<a href="#" aria-label="Next">
													<span aria-hidden="true">&raquo;</span>
												</a>
											</li>
										</ul>
									</nav>	
								
								</div>

								
							</div>
						
						</div>
						
						<div class="col-sm-4 col-md-3 mt-50-xs">
						
							<aside class="sidebar">
						
								<div class="sidebar-inner no-border for-blog">
								
									<div class="sidebar-module">
										<div class="sidebar-module-inner">
											<div class="sidebar-mini-search">
												<div class="input-group">
													
													</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="clear"></div>

									<div class="sidebar-module">
										<h4 class="sidebar-title">Categories</h4>

										<div class="sidebar-module-inner">
											<ul class="sidebar-category">
												<li  ng-repeat="c in data1"><a href="#" ng-click="getlidata(c.name,c.count)">{{c.name}}<span>( {{c.count}} )</span></a></li>
												
											</ul>
										</div>
									</div>
									
									<div class="clear"></div>

								</div>
							
							</aside>
							
						</div>
						
					</div>
					
				</div>
			
			</div>

		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->

</div>