<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper" >
		
		<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list">
						<li><a href="home">Home</a></li>
						<li><span>Contact Us</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->
			
			<div class="section sm pb-20">
			
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						
							<div class="section-title">
							
								<h2>contact us for help</h2>
								<p>Expression acceptance imprudence particular had eat unsatiable.</p>
								
							</div>

						</div>
					
					</div>
					
					<div class="row">

						<div class="col-sm-7 col-md-6 col-md-offset-1 mb-30">
						
							<form class="contact-form-wrapper" data-toggle="validator" novalidate name="myform">
							   
                       
								<div class="row">
								
									<div class="col-sm-6">
									
										<div class="form-group">
											<label for="inputName">Your Name <span class="font10 text-danger">(required)</span></label>
											<input id="inputName" type="text"  class="form-control" data-error="Your name is required"  ng-model="yournamemodel" required>
											<div class="help-block with-errors"></div>
										</div>
										
									</div>
									
									<div class="col-sm-6">
									
										<div class="form-group">
											<label for="inputEmail">Your Email <span class="font10 text-danger">(required)</span></label>
											<input id="inputEmail" name="emaill" type="email" class="form-control" data-error="Your email is required and must be a valid email address"  ng-model="youremailmodel" ng-pattern= "/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
											<small class="text-danger" ng-show="myform.emaill.$error.pattern"  style="color:red">Type correct email id </small>
											<!-- <div class="help-block with-errors"></div> -->
										</div>
										
									</div>
									
									<div class="col-sm-12">
									
										<div class="form-group">
											<!-- <label>Contact No<span class="font10 text-danger">(required)</span></label>
											<input type="number" class="form-control"  data-error="Your contact number is required and must be a valid number" ng-model="contactmodel"  required> -->
											<label>Contact No <span class="font10 text-danger">(required)</span></label>
											<input  type="number" ng-maxlength="10" class="form-control"   data-error="Enter 10 dogit mob no" name="contactmodel"  ng-model="contactmodel" ng-pattern="/^[7-9][0-9]{9}$/" required>

											<small class="text-danger" ng-show="myform.contactmodel.$error.pattern"  style="color:red">Mobile number should be start from 7/8/9 </small>
 
											<small class="text-danger"

                                   ng-show="myform.contactmodel.$error.maxlength">
                                Your contact no  cannot be longer than 10 digits
                            </small>
											<div class="help-block with-errors"></div>
										</div>
										
									</div>
									
									<div class="col-sm-12">
									
										<div class="form-group">
											<label for="inputMessage">Message <span class="font10 text-danger">(required)</span></label>
											<textarea id="inputMessage" class="form-control" rows="8" data-minlength="10" data-error="Your message is required and must not less than 10 characters"  ng-model="msgmodel" required></textarea>
											<div class="help-block with-errors"></div>
										</div>

									</div>
									
									<div class="col-sm-12 text-right">
										<button type="submit" class="btn btn-primary mt-5" ng-click="submitd()">Send Message</button>
									</div>
									
								</div>
								
							</form>
							
						</div>
						
						<div class="col-sm-5 col-md-4">
						
							<ul class="address-list">
								<li>
										<h5>Address</h5>
										<address> 545, Marina Rd., <br/>Mohammed Bin Rashid Boulevard, <br/>Dubai 123234 </address>
								</li>
								<li>
										<h5>Email</h5><a href="#">office@company.com</a>
								</li>
								<li>
										<h5>Phone Number</h5><a href="#">1-866-599-6674</a>
								</li>
								<li>
										<h5>Skype</h5><a href="#">your_skype_id</a>
								</li>
								<li>
										<h5>Social Networks</h5>
										<div class="contact-social">
										
											<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
											<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
											<a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a>
											<a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
										
										</div>
								</li>
									
							</ul>
						
						</div>
						
					</div>

				</div>
			
			</div>

		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
</div>