<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">



		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<div class="second-search-result-wrapper">
			
				<div class="container">
				
					<form>
					
						<div class="second-search-result-inner">
							<span class="labeling">Search a job</span>
							<div class="row">
							
								<div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
									<div class="form-group form-lg">
										<input type="text" class="form-control" placeholder="Job title. Ex: Engineering" />
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
									<div class="form-group form-lg">
										<input type="text" class="form-control" placeholder="Location. Ex: London" />
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
									<button class="btn btn-block">Search</button>
								</div>
							
							</div>
						</div>
					
					</form>
					
					<ul class="quick-search-keyword">
					
						<li><span>Quick Searches: </span></li>
						<li><a href="#">Graduate jobs</a></li>
						<li><a href="#">$50k+ jobs</a></li>
						<li><a href="#">Work at home</a></li>
						<li><a href="#">Immediate start</a></li>
						<li><a href="#">IT &amp; Telecom</a></li>
						
					</ul>

				</div>
			
			</div>
		
			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="#">All jobs</a></li>
						<li><span>Engineering</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->
			
			<div class="section sm">
			
				<div class="container">
				
					<div class="sorting-wrappper alt">
			
						<div class="GridLex-grid-middle">
						
							<div class="GridLex-col-3_sm-12_xs-12">
							
								<div class="sorting-header">
									<h3 class="sorting-title">254 employers</h3>
								</div>
								
							</div>
							
							<div class="GridLex-col-5_sm-6_xs-6_xss-12">
							
								<div class="sorting-content">
								
									<div class="form-group GridLex-gap-10-wrappper">
										
										<div class="GridLex-grid-middle">
										
											<div class="GridLex-col-5_sm-6_xs-12">
												<label>Sort by:</label>
											</div>
											
											<div class="GridLex-col-7_sm-6_xs-12">
												<select class="selectpicker form-control" data-show-subtext="true">
													<option value="0">Relavent</option>
													<option value="1" data-subtext="(newest to oldest)">Date Posted</option>
													<option value="2" data-subtext="(oldest to newest)">Date Posted</option>
												</select>
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
							<div class="GridLex-col-4_sm-6_xs-6_xss-12">
							
								<div class="sorting-content">
								
									<div class="form-group GridLex-gap-10-wrappper">
										
										<div class="GridLex-grid-middle">
										
											<div class="GridLex-col-3_sm-6_xs-12">
												<label>Filter by:</label>
											</div>
											
											<div class="GridLex-col-9_sm-6_xs-12">
												<select class="selectpicker form-control" data-show-subtext="true">
													<option value="0">All</option>
													<option value="1">Asia</option>
													<option value="2">Africa</option>
													<option value="3">Europe</option>
													<option value="4">America</option>
													<option value="5">Oceana</option>
												</select>
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
						</div>

					</div>
					
					<div class="company-grid-wrapper top-company-2-wrapper">

						<div class="GridLex-gap-30">
						
							<div class="GridLex-grid-noGutter-equalHeight">
							
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/08.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">FexEd</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/09.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wrigley</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
								
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/05.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wotif</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/08.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">FexEd</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/09.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wrigley</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
								
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/05.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wotif</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/08.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">FexEd</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/09.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wrigley</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
								
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/05.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wotif</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/08.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">FexEd</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/09.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wrigley</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
								
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/05.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wotif</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/08.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">FexEd</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/09.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wrigley</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
								
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/05.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">Wotif</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
								<div class="GridLex-col-3_sm-4_xs-6_xss-12">
								
									<div class="top-company-2">
										<a href="#">
										
											<div class="image">
												<img src="images/brands/08.png" alt="image" />
											</div>
											
											<div class="content">
												<h5 class="heading text-primary font700">FexEd</h5>
												<p class="texting font600">Account, IT, Manager, Marketing, and much more...</p>
												<p class="mata-p clearfix"><span class="text-primary font700">25</span> <span class="font13">position available</span> <span class="pull-right icon"><i class="fa fa-long-arrow-right"></i></span></p>
											</div>
										
										</a>
										
									</div>
									
								</div>
								
							</div>
						
						</div>

					</div>
					
					<div class="pager-wrapper">
								
						<ul class="pager-list">
							<li class="paging-nav"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
							<li class="paging-nav"><a href="#"><i class="fa fa-angle-left"></i></a></li>
							<li class="number">
								<span class="mr-5"><span class="font600">page</span></span>
							</li>
							<li class="form">
								<form>
									<input type="text" value="1" class="form-control"> 
								</form>
							</li>
							<li class="number">
								<span class="mr-5">/</span> <span class="font600">79</span>
							</li>
							<li class="paging-nav"><a href="#">go</a></li>
							<li class="paging-nav"><a href="#"><i class="fa fa-angle-right"></i></a></li>
							<li class="paging-nav"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
						</ul>	
					
					</div>

				</div>
			
			</div>

			
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 
</div>


