<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<div class="second-search-result-wrapper">
			
				<div class="container">
				
					<form>
					
						<div class="second-search-result-inner">
							<span class="labeling">Search a job</span>
							<div class="row">
							
								<div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
									<div class="form-group form-lg">
										<input type="text" class="form-control" placeholder="Job title. Ex: Engineering" />
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
									<div class="form-group form-lg">
										<input type="text" class="form-control" placeholder="Location. Ex: London" />
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
									<button class="btn btn-block">Search</button>
								</div>
							
							</div>
						</div>
					
					</form>
					
					<ul class="quick-search-keyword">
					
						<li><span>Quick Searches: </span></li>
						<li><a href="#">Graduate jobs</a></li>
						<li><a href="#">$50k+ jobs</a></li>
						<li><a href="#">Work at home</a></li>
						<li><a href="#">Immediate start</a></li>
						<li><a href="#">IT &amp; Telecom</a></li>
						
					</ul>

				</div>
			
			</div>
		
			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="home">Home</a></li>
						<li><span>Browse Job</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->
			
			<div class="section sm">
			
				<div class="container">
				
					<div class="row">
					
						<div class="col-md-10">
						
							<div class="section-title bb mb-30">
						
								<h2 class="text-left">Browse Job</h2>
								<p class="text-left">Friendly as stronger speedily by recurred. Son interest wandered sir addition end say.</p>
								
							</div>
							
							<p><strong>Material confined likewise</strong> it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. Oh resolution he dissimilar precaution to comparison an. Matters engaged between he of <a href="#">pursuit manners</a> we moments. Merit gay end sight front. Manor equal it on <a href="#">again ye folly</a> by match. In so melancholy as an sentiments branch agreed old get our.</p>
							
						</div>
						
					</div>
					
					<div class="browse-job-wrapper">
					
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-3 col-md-2">
								
									<div class="browse-job-title">
									
										<span>Find job by</span>
										<h3 class="text-primary text-lowercase">location:</h3>
										
									</div>
									
								</div>
								
								<div class="col-sm-9 col-md-10">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Paris jobs <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Rome jobs <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">New York jobs <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Bangkok jobs <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Hong Kong jobs <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Kuala Lumpur <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Jakarta <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Paris jobs <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Rome jobs <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">New York jobs <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Bangkok jobs <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Hong Kong jobs <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Kuala Lumpur <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Jakarta <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
											</div>
										
										</div>
										
										<div class="mt-20">
											<a href="#" class="block">See all locations</a>
											<a href="#" class="block">Search jobs by zip code</a>
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-3 col-md-2">
								
									<div class="browse-job-title">
									
										<span>Find job by</span>
										<h3 class="text-primary text-lowercase">category:</h3>
										
									</div>
									
								</div>
								
								<div class="col-sm-9 col-md-10">
								
									<div class="browse-job-content">
									
										<div class="browse-job-category">
											
											<h5><a href="#">Accounting and Finance jobs</a></h5>
											<div class="browse-job-sub-category">
												<a href="#">Analyst</a> <span class="mh-5">|</span>
												<a href="#">Banker</a> <span class="mh-5">|</span>
												<a href="#">Teller</a>
											</div>
											
										</div>
										
										<div class="browse-job-category">
											
											<h5><a href="#">Automotive Jobs</a></h5>
											<div class="browse-job-sub-category">
												<a href="#">Assistant Managers</a> <span class="mh-5">|</span>
												<a href="#">Service Technician</a> <span class="mh-5">|</span>
												<a href="#">Lube Technician</a>
											</div>
											
										</div>
										
										<div class="browse-job-category">
											
											<h5><a href="#">Construction Jobs</a></h5>
											<div class="browse-job-sub-category">
												<a href="#">Electrician</a> <span class="mh-5">|</span>
												<a href="#">Landscaper</a> <span class="mh-5">|</span>
												<a href="#">Plumber</a>
											</div>
											
										</div>
										
										<div class="browse-job-category">
											
											<h5><a href="#">Customer Service jobs</a></h5>
											<div class="browse-job-sub-category">
												<a href="#">Cashier</a> <span class="mh-5">|</span>
												<a href="#">Customer Service Reps</a> <span class="mh-5">|</span>
												<a href="#">Merchandiser</a>
											</div>
											
										</div>
										
										<div class="browse-job-category">
											
											<h5><a href="#">Education jobs</a></h5>
											<div class="browse-job-sub-category">
												<a href="#">Classroom Instructor</a> <span class="mh-5">|</span>
												<a href="#">Driver</a> <span class="mh-5">|</span>
												<a href="#">Teaching Assistant</a>
											</div>
											
										</div>
										
										<div class="browse-job-category">
											
											<h5><a href="#">Health and Beauty jobs</a></h5>
											<div class="browse-job-sub-category">
												<a href="#">Cosmetologist</a> <span class="mh-5">|</span>
												<a href="#">Hair Stylist</a> <span class="mh-5">|</span>
												<a href="#">Manicurists</a>
											</div>
											
										</div>
										
										<div class="mt-20">
											<a href="#" class="block">See all categories</a>
										</div>
										
									</div>
									
								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-3 col-md-2">
								
									<div class="browse-job-title">
									
										<span>Find job by</span>
										<h3 class="text-primary text-lowercase">position:</h3>
										
									</div>
									
								</div>
								
								<div class="col-sm-9 col-md-10">
								
									<div class="browse-job-content">
									
										<div class="browse-job-menu">
										
											<a href="#">a</a>
											<a href="#">b</a>
											<a href="#">c</a>
											<a href="#">d</a>
											<a href="#">e</a>
											<a href="#">f</a>
											<a href="#">g</a>
											<a href="#">h</a>
											<a href="#">i</a>
											<a href="#">j</a>
											<a href="#">k</a>
											<a href="#">l</a>
											<a href="#">m</a>
											<a href="#">n</a>
											<a href="#">o</a>
											<a href="#">p</a>
											<a href="#">q</a>
											<a href="#">r</a>
											<a href="#">s</a>
											<a href="#">t</a>
											<a href="#">u</a>
											<a href="#">v</a>
											<a href="#">w</a>
											<a href="#">x</a>
											<a href="#">y</a>
											<a href="#">z</a>
											<a href="#">other</a>
											
										</div>
										
										<div class="row gap-20">
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Babysitting</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Cashier</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Delivery Driver</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Driver</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>General Labor</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Hairstylist</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Housekeeper</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Machine Operator</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Massage Therapist</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Teacher</h5><span>21 positions</span></a></div>
											</div>
											
										</div>
										
										<div class="mt-20">
											<a href="#" class="block">See all positions</a>
										</div>
										
									</div>
									
								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-3 col-md-2">
								
									<div class="browse-job-title">
									
										<span>Find job by</span>
										<h3 class="text-primary text-lowercase">company:</h3>
										
									</div>
									
								</div>
								
								<div class="col-sm-9 col-md-10">
								
									<div class="browse-job-content">
									
										<div class="browse-job-menu">
										
											<a href="#">a</a>
											<a href="#">b</a>
											<a href="#">c</a>
											<a href="#">d</a>
											<a href="#">e</a>
											<a href="#">f</a>
											<a href="#">g</a>
											<a href="#">h</a>
											<a href="#">i</a>
											<a href="#">j</a>
											<a href="#">k</a>
											<a href="#">l</a>
											<a href="#">m</a>
											<a href="#">n</a>
											<a href="#">o</a>
											<a href="#">p</a>
											<a href="#">q</a>
											<a href="#">r</a>
											<a href="#">s</a>
											<a href="#">t</a>
											<a href="#">u</a>
											<a href="#">v</a>
											<a href="#">w</a>
											<a href="#">x</a>
											<a href="#">y</a>
											<a href="#">z</a>
											<a href="#">other</a>
											
										</div>
										
										<div class="row gap-20">
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Airpower Technique</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Addiar Oil Services</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Abc Property Services</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Ace-cham. Corp</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Af Technology Co., Ltd.</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Afol Industry Inc.</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Airpower Technique</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Addiar Oil Services</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Abc Property Services</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Ace-cham. Corp</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Af Technology Co., Ltd.</h5><span>21 positions</span></a></div>
											</div>
											
											<div class="col-sm-6 col-md-4">
												<div class="company-directory-item"><a href="#"><h5>Afol Industry Inc.</h5><span>21 positions</span></a></div>
											</div>
											
										</div>
										
										<div class="mt-20">
											<a href="#" class="block">See all positions</a>
										</div>
										
									</div>
									
								</div>
								
							</div>
						
						</div>
						
						
					</div>
					
				</div>
				
			</div>
			
			
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 
</div>



