<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">


			

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<div class="second-search-result-wrapper">
			
				<div class="container">
				
					<form>
					
						<div class="second-search-result-inner">
							<span class="labeling">Search a job</span>
							<div class="row">
							
								<div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
									<div class="form-group form-lg">
										<input type="text" class="form-control" placeholder="Job title. Ex: Engineering" />
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-6 col-md-5">
									<div class="form-group form-lg">
										<input type="text" class="form-control" placeholder="Location. Ex: London" />
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-4 col-md-2">
									<button class="btn btn-block">Search</button>
								</div>
							
							</div>
						</div>
					
					</form>
					
					<ul class="quick-search-keyword">
					
						<li><span>Quick Searches: </span></li>
						<li><a href="#">Graduate jobs</a></li>
						<li><a href="#">$50k+ jobs</a></li>
						<li><a href="#">Work at home</a></li>
						<li><a href="#">Immediate start</a></li>
						<li><a href="#">IT &amp; Telecom</a></li>
						
					</ul>

				</div>
			
			</div>
		
			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="#">All jobs</a></li>
						<li><span>All Category</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->
			
			<div class="section sm">

				<div class="container">
				
					<div class="browse-job-wrapper mt-0">
					
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Computer &amp; <span class="text-uppercase">IT</span></a></h3>
										<span>8754 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Developer <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Web Developer <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Project Manager <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Business Analyst <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Engineer <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Consultant <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Database Developer <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Manager <span class="-text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Support Analyst <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">IT Sales <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Admin <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Network Security <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Web Design <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Desktop Support <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Testing <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Service Desk <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Test Manager <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Testing  <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Telecoms Consultant <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Datacoms Engineer <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Technical Author <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Cabling Engineer <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Education</a></h3>
										<span>2147 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Secondary School  <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Primary School <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Nursery <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Special Needs <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Teaching Assistant <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Further Education <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Assessor/Verifier <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">ESOL / TEFL <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Preparatory Education <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Basic Skills <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">E-learning <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Accountancy</a></h3>
										<span>5214 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Business Analyst <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Engineer <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Consultant <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Database Developer <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Manager <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Support Analyst <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">IT Sales <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Admin <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Network Security <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Web Design <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Desktop Support <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Testing <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Service Desk <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Test Manager <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Testing  <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Telecoms Consultant <span class="text-muted font-italic">(322)</span></a>
												
												</div>

											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Engineering</a></h3>
										<span>2541 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electrical <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Maintenance <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Mechanical <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Automotive <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electronic <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Manufacturing <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Field <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electrical <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Maintenance <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Mechanical <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Automotive <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electronic <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Manufacturing <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Field <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												
											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Health &amp; Medicine</a></h3>
										<span>33254 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Web Design <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Desktop Support <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Testing <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Service Desk <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Test Manager <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Testing  <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Telecoms Consultant <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Datacoms Engineer <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Technical Author <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Cabling Engineer <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Web Design <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Desktop Support <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Software Testing <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Service Desk <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Test Manager <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Systems Testing  <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Telecoms Consultant <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Datacoms Engineer <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Technical Author <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Cabling Engineer <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Construction</a></h3>
										<span>3524 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Nursery <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Special Needs <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Teaching Assistant <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Further Education <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Assessor/Verifier <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">ESOL / TEFL <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Nursery <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Special Needs <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Teaching Assistant <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Further Education <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Assessor/Verifier <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">ESOL / TEFL <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
						<div class="browse-job-box">
						
							<div class="row">
							
								<div class="col-sm-4 col-md-3">
								
									<div class="browse-job-title">

										<h3 class="text-primary text-lowercase mb-0"><a href="#">Marketing &amp; PR</a></h3>
										<span>98547 jobs</span>
										
									</div>
									
								</div>
								
								<div class="col-sm-8 col-md-9">
								
									<div class="browse-job-content">
									
										<div class="browse-job-inner">
										
											<div class="row gap-20">
											
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Automotive <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electronic <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Manufacturing <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Field <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electrical <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Maintenance <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Mechanical <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Automotive <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electronic <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Manufacturing <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Field <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Automotive <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electronic <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Manufacturing <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Field <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electrical <span class="text-muted font-italic">(324)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Maintenance <span class="text-muted font-italic">(213)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Mechanical <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Automotive <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Electronic <span class="text-muted font-italic">(321)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Manufacturing <span class="text-muted font-italic">(432)</span></a>
												
												</div>
												
												<div class="col-sm-6 col-md-4">
												
													<a href="#">Field <span class="text-muted font-italic">(322)</span></a>
												
												</div>
												
											</div>
										
										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>
						
					</div>

				</div>
				
			</div>

			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 


</div>