<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start breadcrumb -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="home">Home</a></li>
						<li><a href="#">Your Admin</a></li>
						<li><span>Post a Job</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end breadcrumb -->
			
			<div class="section sm">
			
				<div class="container">
				
					<div class="row" ng-repeat="x in jobDetails">
					
							<div class="col-sm-5 col-md-4">
							
								<div class="job-detail-sidebar">
									
									<ul class="meta-list clearfix">
										<li>
											<h4 class="heading">Location:</h4>
											{{x.location}}
										</li>
										<li>
											<h4 class="heading">Rate/Salary:</h4>
											{{x.salary}}
										</li>
										<li>
											<h4 class="heading">Experience:</h4>
											{{x.experience}}
										</li>
										<li>
											<h4 class="heading">Posted:</h4>
											{{x.time_stamp}}
										</li>
									</ul>
									
									<div class="job-detail-company-overview mt-15 clearfix">
									
										<h3>Company overview</h3>
										<div >
											<img src="{{x.companyoverviewimg}}">

										</div>
										
										<p><span class="font600">Expedia</span> {{x.companyBrief}} <a href="#"> read more about this company <i class="fa fa-long-arrow-right"></i></a></p>
										
									</div>
									
								</div>

							</div>
							
							<div class="col-sm-7 col-md-8">
							
								<div class="job-detail-wrapper">
								
									<div class="job-detail-header bb mb-30" ng-model="jobdetailhead">
												
												<h2>{{x.position}}</h2>
									
										<div class="meta-div clearfix mb-25">
											<span>at <a href="#">{{x.companyName}}</a> as </span>
											<span class="job-label label label-success">{{x.typeOfJob}}</span>
										</div>
										
									</div>
									
									<div class="job-detail-content mt-30 clearfix">
											
										<h3>Job Description</h3>
										{{x.jobDescription}}
										
										
										<h3>Job Responsibilies</h3>
										
										<ul>
										<li ng-repeat="rsp in x.jobResponsibility">{{rsp}}</li>
											
										</ul>
										
										<h3>Requirements:</h3>
										<ul>
											<li ng-repeat="r in x.requirement">{{r}}</li>
										</ul>
									
									</div>
							
								<div>

									<button type="submit" ng-disabled="isDisabled" class="btn btn-primary" ng-click="sendAppc()"> Apply this job </button>
										
													
									
									<div class="tab-style-01">
									
										<ul class="nav" role="tablist">
											<li role="presentation" class="active"><h4><a href="#relatedJob1" role="tab" data-toggle="tab">More jobs from Expedia</a></h4></li>
											<li role="presentation"><h4><a href="#relatedJob2" role="tab" data-toggle="tab">Similars to this job</a></h4></li>
										</ul>

										<!-- Tab panes -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane fade in active" id="relatedJob1">
												<div class="tab-content-inner">
												
													<div class="recent-job-wrapper mt-30">
						
														<a href="#" class="recent-job-item highlight clearfix">
															<div class="GridLex-grid-middle">
																<div class="GridLex-col-6_sm-12_xs-12">
																	<div class="job-position">
																		<div class="image">
																			<img src="{{x.similarjob.siconcmpy}}">
																		</div>
																		<div class="content">
																			<h4>{{x.similarjob.sposition}}</h4>
																			<p>{{x.similarjob.scompany}}</p>
																		</div>
																	</div>
																</div>
																<div class="GridLex-col-4_sm-8-xs-8_xss-12 mt-10-xss">
																	<div class="job-location">
																		<i class="fa fa-map-marker text-primary"></i> {{x.similarjob.slocation}}
																	</div>
																</div>
																<div class="GridLex-col-2_sm-4_xs-4_xss-12">
																	<div class="job-label label label-success">
																	{{x.similarjob.jobtype}}
																	</div>
																	<span class="font12 block spacing1 font400 text-center">{{x.similarjob.stimestamp}}</span>
																</div>
															</div>
														</a>
													</div>
											
												</div>
											</div>
											
													</div>
											
												</div>
											</div>
										</div>
										
									</div>
									
								</div>
								
							</div>
						
						</div>
						
					</div>
				
				</div>
			
			</div>

		
	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
</div>