
<div class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start breadcrumb -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list booking-step">
						<li><a href="home">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li><span>Post a Blog</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end breadcrumb -->
			
			<div class="section sm">
			
				<div class="container" ng-controller="postblogCtrl">
				
					<div class="row">
							
							<div class="col-sm-12 col-md-12">
							
								<div class="company-detail-wrapper">

									<div class="company-detail-company-overview  mt-0 clearfix">
										
										<div class="section-title-02">
											<h3 class="text-left">Post a Blog</h3>
											
										</div>

										<form class="post-form-wrapper">
											<div class="row gap-20">
											<div class="form-group" >
												<div class="col-sm-6 col-md-6">
														

														<div class="bootstrap-fileinput-style-01 no-remove-at-beginning">
														
														<label for="form-photos">Photos</label>
														<input type="text" name="form-photos" multiple id="form-photos" ng-model="image">
														<span class="font12 font-italic">** only URL of jpg, png, tiff are allowed</span> 
												
														</div>
												</div>
													
													<div class="col-sm-5 col-md-5" style="margin-left: 20px;">
														<label ng-model="date1">Date:</label>
														 {{ today | date }}
														 
													</div>
												</div>
												
												<div class="clear"></div>
						
												<br>
											</div>	
										</div>
								
											<div class="row gap-20">
												<div class="form-group" >
													<div class="col-sm-6 col-md-6">
														<label>Blog Title</label>
														<input type="text" class="form-control" ng-model="blogtitle">
														
														 
													</div>
													<div class="col-sm-6 col-md-6">
														<label>Blog Category</label>	
														<input list="Category" name="Category" class="form-control" ng-model="blogCategory">
														 <datalist id="Category">
														   <option value="Technical">
														    <option value="Aptitude">
														    <option value="General Knowledge">
														    <option value="Engineering">
														    
														  </datalist>
													
														
													</div>
												</div>
													
												<div class="clear"></div>
												<br>
											

												<div class="col-sm-12 col-md-12">
												
													<div class="form-group bootstrap3-wysihtml5-wrapper">
														<label>Brief Description</label>
														<textarea id="ckeExample" ng-model="briefDescription">
														  This is not
														</textarea>
													</div>
													
												</div>
												<div class="clear"></div>
												
												<div class="col-sm-12 col-md-12">
												
													<div class="form-group bootstrap3-wysihtml5-wrapper">
														<label>Detail Description</label>
														<textarea id="ckeExample2" ng-model="detailDescription">
														  This is not
														</textarea>
													</div>
													
												</div>
												
												<div class="clear"></div>
												<div class="col-sm-6 mt-30">
													<!--  <a href="#" class="btn btn-primary btn-lg"> -->
														<button class="btn btn-primary btn-lg " type="submit" ng-click="submit()">Post Your Blog</button>
														
												</div>

											</div>
											
										</form>
										
									</div>
									


							</div>
						
						</div>
						
					</div>
				
				</div>
			
			</div>

		
		
	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 
</div>



 <script type="text/javascript">
  	var ckEditorID , ckEditorID2 ,ckEditorID3;

  	ckEditorID = 'ckeExample';
  	ckEditorID2 = 'ckeExample2';
  

  	function fnConsolePrint()
  	{
  	  //console.log($('#' + ckEditorID).val());
  	  console.log(CKEDITOR.instances[ckEditorID].getData());
  	}
  	CKEDITOR.config.forcePasteAsPlainText = true;
  	CKEDITOR.replace( ckEditorID, 
  	    {
  	        toolbar :
  	        [
  	          {
  	            items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
  	          },
  	          {
  	            items : [ 'Format']
  	          },
  	          {
  	            items : [ 'Link','Unlink' ]
  	          },
  	          {
  	            items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
  	          },
  	          {
  	            items : [ 'Undo','Redo']
  	          }
  	        ]
  	    })
  	CKEDITOR.replace( ckEditorID2, 
  	    {
  	        toolbar :
  	        [
  	          {
  	            items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
  	          },
  	          {
  	            items : [ 'Format']
  	          },
  	          {
  	            items : [ 'Link','Unlink' ]
  	          },
  	          {
  	            items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
  	          },
  	          {
  	            items : [ 'Undo','Redo']
  	          }
  	        ]
  	    });
  	
  </script>