
 <div class="not-transparent-header">

    <!-- start Container Wrapper -->
    <div class="container-wrapper">

      <!-- start Main Wrapper -->
      <div class="main-wrapper">
      
        <!-- start breadcrumb -->
        <div class="breadcrumb-wrapper">
        
          <div class="container">
          
            <ol class="breadcrumb-list booking-step">
              <li><a href="#">All Employers</a></li>
              <li><span>Expedia</span></li>
            </ol>
            
          </div>
          
        </div>
        <!-- end breadcrumb -->
        
        <div class="admin-container-wrapper">

          <div class="container">
          
            <div class="GridLex-gap-15-wrappper">
            
              <div class="GridLex-grid-noGutter-equalHeight">
              
                <div class="GridLex-col-3_sm-4_xs-12">
                
                  <div class="admin-sidebar">
                      
                    <div class="admin-user-item">
                      
                      <div class="image">
                        <img src="images/man/01.jpg" alt="image" class="img-circle" />
                      </div>
                      
                      <h4>Christine Gateau</h4>
                      <p class="user-role">Professional</p>
                      
                    </div>
                    
                    <ul class="admin-user-menu clearfix">
                      <li >
                        <a href="admin-profile"><i class="fa fa-user"></i> Profile</a>
                      </li>
                      <!-- <li>
                        <a href="add-company"><i class="fa fa-key"></i> Add Company</a>
                      </li>
                      <li>
                        <a href="update-company"><i class="fa fa-bell"></i> Update Company</a>
                      </li> -->
                      <li>
                        <a href="post-job"><i class="fa fa-bookmark"></i> Post Jobs</a>
                      </li>
                     <!--  <li>
                        <a href="post-blog"><i class="fa fa-sign-out"></i> Post Blog</a>
                      </li>-->
                      <li> 
                        <a href="company-list"><i class="fa fa-sign-out"></i> Company List</a>
                      </li>
                      <li class="active">
                        <a href="blogs"><i class="fa fa-sign-out"></i> Blog List
                        </a>
                      </li>
                    </ul>
                    
                  </div>

                </div>
                
                <div class="GridLex-col-9_sm-8_xs-12">
                
                  <div class="admin-content-wrapper">

                    <div class="admin-section-title">
                    
                      <h2>post a blog</h2>
                            <div style="float: right;">
                           <a href="blogs" class="btn btn-primary btn-md">All Blogs</a>
                          
                           </div>
                           <br>
                    </div>
                    
                   <form class="post-form-wrapper">
                     <!--  <div class="row gap-20"> -->
                      <div class="form-group" >
                        
                            

                            <div class="bootstrap-fileinput-style-01 no-remove-at-beginning">
                            
                            <label for="form-photos">Photos</label>
                            <input type="file" name="form-photos" multiple id="form-photos" ng-model="image">
                            <span class="font12 font-italic">** only image of jpg, png, tiff are allowed</span> 
                        
                            </div>
                         
                          <div >
                            <label ng-model="date1">Date:</label>
                             {{ today | date }}
                             
                          </div>
                        </div>
                        
                        <div class="clear"></div>
            
                        <br>
                      
                   <!--  </div> -->
                
                     
                        <div class="form-group" >
                              <div>
                                <label>Blog Title</label>
                                <input type="text" class="form-control" ng-model="blogtitle"> 
                              </div>
                              <div >
                                <label>Blog Category</label>  
                                <input list="Category" name="Category" class="form-control" ng-model="blogCategory">
                                 <datalist id="Category">
                                   <option value="Technical">
                                    <option value="Aptitude">
                                    <option value="General Knowledge">
                                    <option value="Engineering">
                                    
                                  </datalist>
                               </div>
                        </div>
                          
                        <div class="clear"></div>
                        <br>
                      

                        <div >
                        
                          <div class="form-group bootstrap3-wysihtml5-wrapper">
                            <label>Brief Description</label>
                            <textarea id="ckeExample" ng-model="briefDescription">
                              This is not
                            </textarea>
                          </div>
                          
                        </div>
                        <div class="clear"></div>
                        
                        <div >
                        
                          <div class="form-group bootstrap3-wysihtml5-wrapper">
                            <label>Detail Description</label>
                            <textarea id="ckeExample2" ng-model="detailDescription">
                              This is not
                            </textarea>
                          </div>
                          
                        </div>
                        
                        <div class="clear"></div>
                        <div class="col-sm-6 mt-30">
                          <!--  <a href="#" class="btn btn-primary btn-lg"> -->
                            <button class="btn btn-primary btn-lg " type="submit" ng-click="submit()">Post Your Blog</button>
                            
                        </div>

                      </div>
                      
                    </form>
                  </div>

                </div>
                
              </div>

            </div>

          </div>
        
        </div>

      </div>
      <!-- end Main Wrapper -->

    </div> <!-- / .wrapper -->
    <!-- end Container Wrapper -->
  </div>
 

 <script type="text/javascript">
    var ckEditorID , ckEditorID2 ,ckEditorID3;

    ckEditorID = 'ckeExample';
    ckEditorID2 = 'ckeExample2';
    ckEditorID3 ='ckeExample3'

    function fnConsolePrint()
    {
      
      console.log(CKEDITOR.instances[ckEditorID].getData());
    }
    CKEDITOR.config.forcePasteAsPlainText = true;
    CKEDITOR.replace( ckEditorID, 
        {
            toolbar :
            [
              {
                items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
              },
              {
                items : [ 'Format']
              },
              {
                items : [ 'Link','Unlink' ]
              },
              {
                items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
              },
              {
                items : [ 'Undo','Redo']
              }
            ]
        })
    CKEDITOR.replace( ckEditorID2, 
        {
            toolbar :
            [
              {
                items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
              },
              {
                items : [ 'Format']
              },
              {
                items : [ 'Link','Unlink' ]
              },
              {
                items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
              },
              {
                items : [ 'Undo','Redo']
              }
            ]
        });
    CKEDITOR.replace( ckEditorID3, 
        {
            toolbar :
            [
              {
                items : [ 'Bold','Italic','Underline','Strike','-','RemoveFormat' ]
              },
              {
                items : [ 'Format']
              },
              {
                items : [ 'Link','Unlink' ]
              },
              {
                items : [ 'Indent','Outdent','-','BulletedList','NumberedList']
              },
              {
                items : [ 'Undo','Redo']
              }
            ]
        });
  </script>